# Scons
.sconsign.dblite

# Visual studio
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.obj
/msvc_capture.log
/Release
/VoxelGame/Release

# Godot
/demo
extension_api.json
/ideas/Galaxies
